
    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;;
}

       body {
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            padding: 0;
        }
        main {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
        }
        .mobile-nav-links {
            display: none;
        }
        html {
            scroll-behavior: smooth;
        }
        header {
            position: sticky;
            top: 0;
            z-index: 1000;
            height: 100%;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
        /* Navigation Bar */
        nav {
            background-color: #333;
            color: #fff;

        }
        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 90vw;
            margin: 0 auto;
            padding: 5px 20px;
}
        .logo a {
            color: #fff;
            text-decoration: none;
            font-size: 1.5em;
            font-weight: bold;
        }
        .nav-links {
            list-style: none;
            display: flex;
            margin-left: auto;
            padding: 0;
        }
        .nav-links li {
            margin-left: 20px;
        }
        .nav-links li:nth-of-type(1) a {
            margin-left: auto;
        }
        .nav-links a {
            color: #fff;
            text-decoration: none;
            font-size: 1em;
        }
        .nav-links a:hover {
            text-decoration: underline;
        }

        /* hamburg menu toggle */
        .menu-toggle {
            display: none;
        }
        /* Hamburger Icon */
        .hamburger {
            display: none;
            cursor: pointer;
            flex-direction: column;
        }
        .hamburger span {
            background-color: #fff;
            height: 3px;
            width: 25px;
            margin: 4px 0;
            transition: 0.3s;
        }
        /* Skills Section */
        .skills-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 50px 20px;
            background-color: #f9f9f9;
        }
        .skill {
            flex: 0 1 calc(33.33% - 30px);
            max-width: calc(33.33% - 30px);
            background: linear-gradient(135deg, #f9f9f9 0%, #e8e8e8 100%);
            margin: 15px;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 20px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            overflow: hidden;
            position: relative;
        }
        /* About section image style */
        .about-image {
            background: linear-gradient(135deg, #f9f9f9 0%, #e8e8e8 100%);
            padding-bottom: 5px;
            border-radius: 300px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            overflow: hidden;
            position: relative;
        }
        .about-image:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.15);
        }
        /* .skill:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.15);
        } */

        .skill h3 {
            margin-top: 0;
            color: #333;
            font-size: 1.3em;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
        .skill p {
            color: #666;
            font-size: 0.95em;
            line-height: 1.5;
            margin: 15px 0 0;
        }
        .skills-heading {
            flex: 1 1 100%;
            width: 100%;
            font-size: 2em;
            font-weight: 700;
            color: #444;
            text-align: center;
            margin-bottom: 20px;
            padding: 10px;
            border-bottom: 2px solid #ccc;
        }
        /* Footer */
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: space-between;
            min-height: 2.5rem;
        }
        footer p {
            font-size: 0.9em;
            justify-content: space-around;
            align-items: center;
            padding-top: 15px;
            padding-left: 5px;
        }
        .footer-socials {
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 10px;
            padding-top: 5px;
        }

        .footer-github-logo, .footer-linkedin-logo {
            width: 30px;
            margin-left: 10px;
            border-radius: 6px;
        }
        /* About Me Section */
        .about-me-container {
            padding: 60px 20px;
            background-color: #e1e1e1;   /* #f4f4f4; */
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;

        }

.about-me-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    gap: 200px;
}

.about-me-content>:nth-last-of-type(3) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    margin: 0 auto;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3rem;
}
.github-logo, .linkedin-logo {
   border-radius: 8px;
}

.logo {
    display:flex;
    align-items: center;
    justify-content: center;

}

.bio {
    flex: 1;
    max-width: 600px;
    color: #333;
    text-align: left;
}

.bio h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333;
}

.bio p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}

.about-image {
    flex: 1;
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.bio-photo {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* About me speech box */
.speech-box {
    position: relative;
    background-color: #f9f9f9;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    color: #333;
    font-size: 1.1em;
    line-height: 1.6;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Bio contact button  */


/* Projects page */
.projects-page {
    display: flex;
    flex-direction: row;
    background-color:#e1e1e1 ;
    justify-content: center;
    align-items: center;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 20px;
    background-color: #e1e1e1;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

.project {
    flex: 0 1 calc(50% - 30px);
    background: linear-gradient(135deg, #f9f9f9 0%, #e8e8e8 100%);
    margin: 15px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    position: relative;
}
.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.15);
}

.project h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.project p {
    color: #666;
    font-size: 0.95em;
    line-height: 1.5;
    margin: 15px 0 0;
}
.projects-heading {
    flex: 1 1 100%;
    width: 100%;
    font-size: 2em;
    font-weight: 700;
    color: #444;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

/* Contact Page  */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.contact-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}
#contacts-heading {
    flex: 1 1 100%;
    width: 100%;
    font-size: 2em;
    font-weight: 700;
    color: #444;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    gap: 1rem;

}
.contact-image {
    width: 80%;
    align-self: center;
    height: 40%;
    border-radius: 10px;
    margin-top: 2rem;
}

/* socials links */
.contact-links {
    padding: 0;
    list-style: none;
}
.contact-links li {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contact-links li:hover {
    transform: translateY(-5px);
}

.contact-links li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.contact-links img {
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: middle;
}
/* contact form */
.contact-form {
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.15);
    padding: 1rem;
}
.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.contact-form h2 {
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    background: linear-gradient(90deg, #af4c4c, #2196f3);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    letter-spacing: 2px; 
    margin-bottom: 1rem;
}
        /* Mopbile Styles */
        @media (max-width: 700px) {
            .skills-container {
                flex-direction: column;
                padding: 30px 20px;
                align-items: center;
                justify-content: center;
            }
            .projects-container {
                flex-direction: column;
                padding: 30px 20px;
                align-items: center;
                justify-content: center;
            }
            .about-image {
                flex: 1;
                gap: 10px;
                order: -1;
                width: 200px;
                display: flex;
                justify-content: center;
            }
            .skill {
                max-width: none;
                width: 90%;
            }
            .project {
                max-width: none;
                width: 90%;
            }
            .nav-container {
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                height: 100%;
                background-color: #333;
            }
            .nav-links {
                display: none;
                flex-direction: column;
                width: 100%;
                background-color: #333;
                padding: 10px 0;
            }
            .nav-links li {
                margin-left: 0;
                margin-bottom: 10px;
            }
            .hamburger {
                display: flex;
                margin-left: auto;
            }
            .hamburger span {
                background-color: #fff;
                height: 3px;
                width: 25px;
                margin: 4px 0;
                transition: all 0.3s ease;
            }
             /* Show the menu when checkbox is checked */
             .menu-toggle:checked ~ .mobile-nav-links {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: #333333;
                padding: 10px 0;
                z-index: 1000;
            }
            .nav-links a {
                color: #fff;
                padding: 10px 20px;
                text-align: center;
                display: block;
                list-style: none;
            }

            .mobile-nav-links a {
                color: #fff;
                padding: 10px 20px;
                text-align: center;
                display: block;
                text-decoration: none;
            }

            .about-me-content {
                flex-direction: column;
                align-items: center;
                gap: 70px
            }
            .bio, .about-image {
                max-width: 100%;
                text-align: center;
            }

            .bio h2 {
                font-size: 1.8em;
            }

            .bio p {
                font-size: 1em;
            }
            /* contact page */
            .contact-section {
                flex-direction: column;
            }
        }
        @media (min-width: 701px) and (max-width: 1024px) {
            .about-me-content {
                gap: 2rem
            }
        }